{% extends "template2.html" %}
{% block log %}
    <main class="page lanidng-page">
        <section class="portfolio-block skills" style="padding-top: 40px;padding-bottom: 0px;">
            <div class="container">
                <div class="heading">
                    <h2 style="margin-bottom: 0px;">block customer debit card</h2>
                </div>
            </div>
            <form method="post" style="width: 375px;margin-bottom: 100px;">
                <h2 class="sr-only">Login Form</h2><label class="text-center" style="width: 268px;margin-bottom: 31px;font-size: 20px;">Enter the debit card number</label>
                <header></header>
                <div class="form-group"><input class="form-control" type="text" required="" name="card_no"></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" required=""><label class="form-check-label" for="formCheck-1" style="color: #FF0000;">I promise that customer has the consent regarding the blocking of his/her debit card.</label></div>
                <div
                    class="form-group"><button class="btn btn-primary btn-block" type="submit" style="margin-bottom: 1px;margin-top: 30px;">Block card</button></div>
            </form>
        </section>
    </main>
    {% endblock %}