{% extends "template2.html" %}
{% block log %}
    <main class="page lanidng-page">
        <section class="portfolio-block skills" style="padding-top: 40px;padding-bottom: 0px;">
            <div class="container">
                <div class="heading">
                    <h2 style="margin-bottom: 0px;">Employee dashboard</h2>
                </div>
            </div>
            <div></div>
        </section>
    </main>
    <div style="margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="border: 4px solid #8ed2ff;">
                    <h1 class="text-center" style="font-size: 30px;"><i class="la la-book"></i><br>Passbook entry</h1><a class="btn btn-primary text-white" role="button" type="submit" style="margin-bottom: 20px;margin-top: 10px;margin-left: 151px;"  href="emp-statements.html">Click here enter the passbook</a></div>
                <div class="col-md-6" style="border: 4px solid #8ed2ff;border-left: 0;">
                    <h1 class="text-center" style="font-size: 30px;"><i class="la la-money"></i><br>Transact</h1><a class="btn btn-primary text-white" role="button" style="margin-top: 10px;margin-bottom: 20px;margin-left: 151px;" href="emp-trans.html">Transact on customer account</a></div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="border: 4px solid #8ed2ff;">
                    <h1 class="text-center" style="font-size: 30px;"><i class="fa fa-credit-card"></i><br>Block debit card/online Acc</h1><a class="btn btn-primary text-white" role="button" style="margin-top: 10px;margin-bottom: 20px;margin-left: 207px;" href="card-block.html">Block cards</a></div>
                <div class="col" style="border: 4px solid #8ed2ff;border-left: 0;">
                    <h1 class="text-center" style="font-size: 30px;"><i class="icon ion-android-delete"></i><br>Close account</h1><a class="btn btn-primary text-white" role="button" style="margin-top: 10px;margin-bottom: 20px;margin-left: 206px;" href="close-acc.html">Delete account</a></div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 131px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="border: 4px solid #8ed2ff;margin-left: 290px;">
                    <h1 class="text-center" style="font-size: 30px;padding-top: 10px;"><i class="icon-people"></i><br />Create account</h1><a class="btn btn-primary text-white" role="button" style="margin-top: 10px;margin-bottom: 20px;margin-left: 207px;">Create account</a></div>
            </div>
        </div>
    </div>
    {% endblock %}