{% extends "template1.html" %}
{% block wlog %}


    <main class="page lanidng-page">
        <section class="portfolio-block skills" style="border: 0px;padding-top: 40px;padding-bottom: 0px;height: 199px;margin-top: 34px;">
            <div class="container">
                <div class="heading">
                    <h2 style="margin-bottom: 0px;margin-top: 0px;height: 76px;color: rgb(164,8,8);">Error while logging.&nbsp; check your mail-id and password and Try again</h2>
                </div>
            </div>
        </section>
    </main>
    <div style="height: 277px;margin-top: 18px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="height: 181px;">
                    <p class="text-center" style="font-size: 20px;"><i class="la la-users" style="font-size: 40px;margin-bottom: 10px;"></i><br>If you are Customer click here, to again login</p><a class="btn btn-primary text-center" type="button" style="margin-left: 94px;margin-top: 4px;width: 153px;" href="customer-login.html">Customer Login</a></div>
                <div
                    class="col-md-4">
                    <p class="text-center" style="font-size: 20px;"><i class="la la-bank" style="font-size: 40px;margin-bottom: 10px;"></i><br>If you are Employee click here, to again login<br><br></p><a class="btn btn-primary text-center" type="button" style="margin-left: 102px;margin-top: -51px;width: 153px;" href="employee-login.html">Employee Login</a></div>
            <div
                class="col-md-4">
                <p class="text-center" style="font-size: 20px;width: 378px;margin-top: 0px;padding: 13px;"><i class="la la-home" style="font-size: 40px;margin-bottom: 10px;"></i><br>Click here to visit Home page</p><a class="btn btn-primary text-center" type="button" style="margin-left: 108px;margin-top: 1px;width: 153px;" href="index.html">Home page</a></div>
    </div>
    </div>
    </div>

    {% endblock %}